/* table#mytableofrows tr td a.button { display:none;}
  table#mytableofrows tr:hover td a.button { display:inline-block;} */
  .pull-right {
    float: right;
  }
  .btn-primary.custom-btn {
    background-color: #2f4f4f;
    border-color: #000;
  }