/* table#mytableofrows tr td a.button { display:none;}
  table#mytableofrows tr:hover td a.button { display:inline-block;} */
  .btn-primary.custom-btn {
    background-color: #2f4f4f;
    border-color: #000;
  }
  @media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }
    .pull-right {
      float: right;
    }

    /deep/ .pagination .page-item .page-link {
  border-radius: 0 !important;
}

/deep/ .pagination .page-link {
  border-top-style: none !important;
  border-bottom-style: none !important;
  background-color: #f6f6f6 !important;
   border-color: #f6f6f6 !important;
 
  color: black !important;
  box-shadow: 0 0 0 0.001rem #2f4f4f !important;

}
tr {
  width: 100%;
  display: inline-table;
  height:60px;
  table-layout: fixed;
    
  }
  
  table{
   height:300px; 
   display: -moz-groupbox;
  }
  tbody{
    overflow-y: scroll;
    height: 500px;
    width: 70%;
    position: absolute;
  }