<div class="container">
    <br>
    <h1 class="text-center">AJOUTER CLIENT</h1>
    <ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab"
                aria-controls="home-just" aria-selected="false">Identification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab"
                aria-controls="profile-just" aria-selected="false">Parametres</a>
        </li>
    </ul>
    <form [formGroup]='clientForm'>
        <div class="tab-content card pt-5" id="myTabContentJust">
            <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
                <div class="shop__cart__table" id="productTable">
                    <h6 class="container">Information</h6>
                    <div class="row container">
                        <div class="col-lg-4">
                            <div *ngIf='INCCLI' class="form-group">
                                <label class="container">Compte Client</label>
                                <input  type="text" class="form-control" formControlName='Numero' readonly>
                            </div>
                          
                            <div class="form-group">
                                <label class="container" class="container">Activité</label>
                                <input type="text" class="form-control" formControlName='Qualite'>
                            </div>
                            <div *ngIf='!INCCLI' class="form-group">
                                <label class="container">Numero</label>
                                <input  type="text" class="form-control" formControlName='Numero'>
                            </div>
                            <!-- <div *ngIf="clientForm.controls['Intitule'].invalid && 
                            (clientForm.controls['Intitule'].dirty || clientForm.controls['Intitule'].touched)">
                                <div *ngIf="clientForm.controls['Intitule'].errors.maxlength" class="text-danger">
                                    Intitule must have less than 35 characters !!
                                </div>
                                <div *ngIf="clientForm.controls['Intitule'].errors.required" class="text-danger">
                                    Intitule name is required !!
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label class="container">Compte Collectif</label>
                                <input type="text" class="form-control" formControlName='NumeroPrincipale'>
                            </div>
                            <!-- <div
                                *ngIf="clientForm.controls['NumeroPrincipale'].invalid && 
                            (clientForm.controls['NumeroPrincipale'].dirty || clientForm.controls['NumeroPrincipale'].touched)">
                                <div *ngIf="clientForm.controls['NumeroPrincipale'].errors.maxlength"
                                    class="text-danger">
                                    NumeroPrincipale must have less than 13 characters !!
                                </div>
                                <div *ngIf="clientForm.controls['NumeroPrincipale'].errors.required"
                                    class="text-danger">
                                    NumeroPrincipale name is required !!
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="container">Intitulé</label>
                                <input type="text" class="form-control" formControlName='Intitule'>
                            </div>
                            <div class="form-group">
                                <label class="container">Contact Principale</label>
                                <input type="text" class="form-control" formControlName='ContactPrincipale'>
                            </div>
                            <!-- <div
                                *ngIf="clientForm.controls['ContactPrincipale'].invalid && 
                            (clientForm.controls['ContactPrincipale'].dirty || clientForm.controls['ContactPrincipale'].touched)">
                                <div *ngIf="clientForm.controls['ContactPrincipale'].errors.maxlength"
                                    class="text-danger">
                                    ContactPrincipale must have less than 35 characters !!
                                </div>
                                <div *ngIf="clientForm.controls['ContactPrincipale'].errors.required"
                                    class="text-danger">
                                    ContactPrincipale name is required !!
                                </div>

                            </div> -->
                           
                            <div class="form-group">
                                <label class="container" class="container" class="container"
                                    class="container">Matricule Fiscale</label>
                                <input type="text" class="form-control" formControlName='MatriculeFiscale'>
                            </div>
                            <!-- <div
                                *ngIf="clientForm.controls['MatriculeFiscale'].invalid && 
                            (clientForm.controls['MatriculeFiscale'].dirty || clientForm.controls['MatriculeFiscale'].touched)">
                                <div *ngIf="clientForm.controls['MatriculeFiscale'].errors.minlength"
                                    class="text-danger">
                                    MatriculeFiscale must have at least 3 characters !!
                                </div>
                                <div *ngIf="clientForm.controls['MatriculeFiscale'].errors.required"
                                    class="text-danger">
                                    MatriculeFiscale name is required !!
                                </div>
                                <div *ngIf="clientForm.controls['MatriculeFiscale'].errors.pattern" class="text-danger">
                                    only number is required !!
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-3">
                            <!-- <div class="form-group">
                                <label class="container" class="container" class="container" class="container">Incoterm</label>
                                <input type="text" class="form-control" formControlName='Incoterm'
                                    placeholder="Incoterm">
                            </div> -->
                            <div class="form-group" >
                                <label class="container">Famille</label>
                                <select class="form-control" aria-label="Default select example" name="Familletier"
                                    formControlName='Familletier'>
                                    <option selected></option>
                                    <option *ngFor="let Familletier of familleTier">
                                        {{Familletier.Code}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="container">Compte Auxiliaire</label>
                                <input type="text" class="form-control" formControlName='CompteAuxiliaire'>
                            </div>
                            <div class="form-group">
                                <label class="container">ICE</label>
                                <input type="text" class="form-control" formControlName='ICE'>
                            </div>
                        </div>
                    </div>
                    <h6 class="container">Coordonnées</h6>
                    <div>
                        <div class="row container">

                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label class="container">Adresse</label>
                                    <input type="text" class="form-control" formControlName='Adresse'>
                                </div>
                            </div>
                        </div>
                        <div class="row container">

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="container">Code Postal</label>
                                    <input type="text" class="form-control" formControlName='CodePostal'>
                                </div>
                                <!-- <div *ngIf="clientForm.controls['CodePostal'].invalid && 
                            (clientForm.controls['CodePostal'].dirty || clientForm.controls['CodePostal'].touched)">
                                    <div *ngIf="clientForm.controls['CodePostal'].errors.maxlength" class="text-danger">
                                        CodePostal must have less than 9 characters !!
                                    </div>
                                    <div *ngIf="clientForm.controls['CodePostal'].errors.required" class="text-danger">
                                        CodePostal name is required !!
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="container">Ville</label>
                                    <input type="text" class="form-control" formControlName='Ville'>
                                </div>
                                <!-- <div *ngIf="clientForm.controls['Ville'].invalid && 
                            (clientForm.controls['Ville'].dirty || clientForm.controls['Ville'].touched)">
                                    <div *ngIf="clientForm.controls['Ville'].errors.minlength" class="text-danger">
                                        ville must have at least 3 characters !!
                                    </div>
                                    <div *ngIf="clientForm.controls['Ville'].errors.required" class="text-danger">
                                        ville name is required !!
                                    </div>
                                    <div *ngIf="clientForm.controls['Ville'].errors.pattern" class="text-danger">
                                        only characters is required !!
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="container">Pays</label>
                                    <input type="text" class="form-control" formControlName='Pays'>
                                </div>
                                <!-- <div *ngIf="clientForm.controls['Pays'].invalid && 
                            (clientForm.controls['Pays'].dirty || clientForm.controls['Pays'].touched)">
                                    <div *ngIf="clientForm.controls['Pays'].errors.maxlength" class="text-danger">
                                        Pays must have less than 35 characters !!
                                    </div>
                                    <div *ngIf="clientForm.controls['Pays'].errors.required" class="text-danger">
                                        Pays name is required !!
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="row container">

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="container">Téléphone</label>
                                    <input type="text" class="form-control" formControlName='Telephone'>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="container">EMail</label>
                                    <input type="text" class="form-control" formControlName='EMail'>
                                </div>
                            </div>
                        </div>
                        <div class="row container">

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="container">Télécopie</label>
                                    <input type="text" class="form-control" formControlName='Telecopie'>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="container">Site Web</label>
                                    <input type="text" class="form-control" formControlName='SiteWeb'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
                <div class="shop__cart__table" id="productTable2">
                    <div class="row container">
                        <div class="col-lg-4">
                            <h6 class="container">Option de Traitement</h6>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col-lg-3">
                            <label class="container">Devise</label>
                            <div class="form-group">

                                <select class="form-control" aria-label="Default select example" name="Devise"
                                    formControlName='Devise'>
                                    <option selected></option>
                                    <option *ngFor="let Devise of Devise" >
                                        {{Devise.DEVISE}}
                                    </option>
                                </select>
                            </div>
                            <label class="container">Modalité De Paiement</label>
                            <div class="form-group">

                                <select class="form-control" aria-label="Default select example" name="ModalitePaiement"
                                    formControlName='ModalitePaiement'>
                                    <option selected></option>
                                    <option *ngFor="let ModalitePaiement of ModalitePaiement">
                                        {{ModalitePaiement.Code}}
                                    </option>
                                </select>
                            </div>

                            <label class="container">Catégorie Tarifaire</label>
                            <div class="form-group">

                                <select class="form-control" aria-label="Default select example" name="CategorieTarif"
                                    formControlName='CategorieTarif'>
                                    <option selected></option>
                                    <option *ngFor="let CategorieTarif of CategorieTarif">
                                        {{CategorieTarif.Categorie}}
                                    </option>
                                </select>
                            </div>


                        </div>
                        <div class="col-lg-3">
                            <!-- <div class="form-group">
                                <input type="text" class="form-control" formControlName='Depot' placeholder="Depot">
                            </div> -->
                            <label class="container">Taux De Remise %</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='TauxRemise'>
                            </div>
                            
                            <label class="container">Représentant</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='Collaborateur'>
                            </div>
                            <label class="container">Limite</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='Encours'>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="container">Code TVA</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='CategorieTVA'>
                            </div>
                           
                            <label class="container">Categorie TVA</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='Categorie'>
                            </div>
                            <label class="container">N°Etab Secondaire</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='Classement'>
                            </div>                          
                        </div>
                        <div class="col-lg-3" style="padding-top: 5rem;" >                          
                            <div class="row" style="padding-left: 1rem;">
                                <div class="form-check col-lg-6">
                                    <input type="checkbox" name="Timbre" formControlName='Timbre'>
                                    <label style="padding-left: 1rem;">Timbre</label>
                                </div>                             
                            </div>
                            <div class="row" style="padding-left: 1rem;">                            
                                <div class="form-check col-lg-8">
                                    <input type="checkbox" name="ExonereTVA" formControlName='ExonereTVA'>
                                    <label style="padding-left: 1rem;">
                                        ExonéréTVA
                                    </label>
                                </div>
                            </div>
                            <div class="row" style="padding-left: 1rem;">
                                <div class="form-check col-lg-6">
                                    <input type="checkbox" name="Sommeil" formControlName='Sommeil'>
                                    <label style="padding-left: 1rem;">Sommeil</label>
                                </div>                             
                            </div>
                            <div class="row" style="padding-left: 1rem;">                          
                                <div class="form-check col-lg-6">
                                    <input type="checkbox" name="Etranger" formControlName='Etranger'>
                                    <label style="padding-left: 1rem;">Étranger</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="container">Info de Livraison</h6>
                    <div class="row container">

                        <div class="col-lg-8">
                            <label class="container">Adresse De Livraison</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='ADRESSELivraison'>
                            </div>
                        </div>
                    </div>
                    <div class="row container">

                        <div class="col-lg-2">
                            <label class="container">Code Postal</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='CodePostalLivraison'>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="container">Ville De Livraison</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='VilleLivraison'>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="container">Pays De Livraison</label>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName='PaysLivraison'>
                            </div>

                        </div>
                    </div>
                    <h6 class="container">Information Complémentaire</h6>
                    <div class="row container">

                        <div class="col-lg-8">
                            <label class="container">Commentaire</label>
                            <div class="mb-3">
                                <label class="container" for="exampleFormControlTextarea1" class="form-label"></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    formControlName='Commentaire'></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="container" for="formFile" class="form-label">Jointe1</label>
                                <input class="form-control" type="file" id="formFile" formControlName='Jointe1'>
                            </div>
                            <div class="mb-3">
                                <label class="container" for="formFile" class="form-label">Jointe2</label>
                                <input class="form-control" type="file" id="formFile" formControlName='Jointe2'>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row container">
                <p class="col-lg-3">Createur</p>
                <p class="col-lg-3">Modificateur</p>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary py-3 px-5" (click)='creatCustomer(clientForm.value)'>Ajouter
                    </button>
            </div>
        </div>
    </form>

</div>